
        body {
            background-color: #f9f9f9;
            font-family: Arial, sans-serif;
        }

        .hero-section {
            background: url('assets/heroSensua.png') no-repeat center center;
            background-size: cover;
            height: 100vh;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            text-shadow: 2px 2px 4px #000;
        }
        h1 {
            font-size: 5rem;
        }

        .main-btn {
            background-color: #FF5A5F;
            color: #fff;
            border: none;
            padding: 15px 30px;
            border-radius: 5px;
            transition: 0.3s;
        }

        .main-btn:hover {
            background-color: #FF2D3A;
            text-decoration: none;
            color: #fff;
        }