body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    margin: 10px;
    font-family: 'Satisfy', cursive;
    font-size: 1.8em;
}

.navbar-brand:hover {
    transform: scale(1.07);
}

.confirmYellow {
    color: hsl(51, 96%, 41%);
}

.hero-section {
    background: url('assets/heroSensua.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px #000;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
    padding: 20px;
}

.main-btn {
    background-color: #FF5A5F;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 1rem;
}

.main-btn:hover {
    background-color: #FF2D3A;
    text-decoration: none;
    color: #fff;
}

@media (min-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    .main-btn {
        padding: 15px 30px;
        font-size: 1.2rem;
    }
}
